{% include 'header.html' %}

<!-- homepage -->
    <div class="row">
        <div class="col-12">
            <img class="me" src="{{config.mugshot}}"> <!-- Set your picture in your config.yml file -->
            <h2 class="homeTitle">{{config.intro}}</h2> <!-- Set your intro in your config.yml file -->
            <p>{{config.about}}</p> <!-- Set your about in your config.yml file -->
        </div>
    </div>

<!-- /homepage -->

{% include 'footer.html' %}
