{% include 'header.html' %}


<div class="articleGrid">
    <div class="row">

        <h1>{{meta.title }} </h1>
        <p>{{ meta.date}}</p>

        {{ page.date_formatted }}
        {{ content }}
    </div>
</div>

{% include 'footer.html' %}
